@font-face {
  font-family: HansonBold;
  src: url("../fonts/Hanson-Bold.otf");
}
@font-face {
  font-family: Grotesk;
  src: url("../fonts/FoundersGroteskText-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Grotesk;
}

.hero {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-text {
  z-index: 1;
  color: #fcfeff;
}
.hero .hero-text .welcome {
  display: inline;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.hero .hero-text .hero-title {
  font-family: HansonBold;
  font-size: 120px;
}
.hero .hero-text .hero-description {
  text-transform: uppercase;
  margin-top: 50px;
}

video {
  height: 100vh;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.dream {
  background-color: #171ed1;
  width: 80%;
  margin: 0 auto 150px auto;
  border-radius: 20px;
  color: #fcfeff;
  font-size: 120px;
  padding: 50px;
}
.dream p {
  font-family: HansonBold;
}
.dream .design {
  text-align: right;
}
.dream .img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0 auto;
}
.dream img {
  width: 50%;
  border-radius: 20px;
}
.dream .img1 {
  margin-right: 20px;
}

.works {
  color: #fcfeff;
}
.works .work-title {
  font-family: HansonBold;
  font-size: 120px;
  text-align: center;
}
.works .work-images {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin: 50px auto 150px auto;
}
.works .work-images img {
  width: 100%;
  border-radius: 20px;
}

.about {
  color: #fcfeff;
  background-color: #171ed1;
  width: 80%;
  margin: 0 auto 150px auto;
  border-radius: 20px;
  padding: 30px;
}
.about .about-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
}
.about .about-inner .about-text .name {
  font-family: HansonBold;
  font-size: 50px;
}
.about .about-inner .about-text .description {
  margin: 20px 0;
}
.about .about-inner .about-text .contacts a {
  display: inline-block;
  text-decoration: none;
  color: #171ed1;
  background-color: #fcfeff;
  padding: 12px 20px;
  margin-right: 10px;
  border-radius: 10px;
}
.about .about-inner img {
  width: 100%;
  border-radius: 20px;
}

footer {
  color: #fcfeff;
  font-size: 20px;
  margin: 100px 0;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1401px) {
  .dream,
.works .work-images,
.about {
    width: 90%;
  }
}
@media screen and (max-width: 1241px) {
  .about .about-inner .about-text .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .about .about-inner .about-text .contacts a {
    margin-right: 0;
    text-align: center;
  }
}
@media screen and (max-width: 1101px) {
  .about .about-inner {
    grid-template-columns: 1fr;
  }
  .about .about-inner img {
    width: 70%;
    margin: auto;
  }
  .about .about-inner .about-text .contacts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  .about {
    padding: 50px;
  }
  .dream .img1 {
    display: none;
  }
  .dream img {
    width: 90%;
  }
}
@media screen and (max-width: 841px) {
  .dream p {
    font-size: 70px;
  }
}
@media screen and (max-width: 801px) {
  .works .work-title {
    font-size: 70px;
  }
  .works .work-images {
    grid-template-columns: 1fr;
  }
}