@font-face {
  font-family: HansonBold;
  src: url("../fonts/Hanson-Bold.otf");
}
@font-face {
  font-family: Grotesk;
  src: url("../fonts/FoundersGroteskText-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-text {
  z-index: 1;
  font-size: 100px;
  color: #fcfeff;
  font-family: HansonBold;
}

video {
  height: 100vh;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}