@font-face {
  font-family: HansonBold;
  src: url("../fonts/Hanson-Bold.otf");
}
@font-face {
  font-family: Grotesk;
  src: url("../fonts/FoundersGroteskText-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Grotesk;
}

.hero {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-text {
  z-index: 1;
  color: #fcfeff;
}
.hero .hero-text .welcome {
  display: inline;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.hero .hero-text .hero-title {
  font-family: HansonBold;
  font-size: 100px;
}
.hero .hero-text .hero-description {
  text-transform: uppercase;
}

video {
  height: 100vh;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}