$white:#fcfeff;
$blue:#171ed1;
@font-face {
    font-family: HansonBold;
    src: url("../fonts/Hanson-Bold.otf");
}
@font-face {
    font-family: Grotesk;
    src: url("../fonts/FoundersGroteskText-Regular.otf");
}
*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: Grotesk;
}