@media screen and (max-width: 1401px) {
  .dream,
  .works .work-images,
  .about {
    width: 90%;
  }
}
@media screen and (max-width: 1241px) {
  .about .about-inner .about-text .contacts {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    & a{
        margin-right: 0;
        text-align: center;
    }
  }
}
@media screen and (max-width: 1101px) {
    .about .about-inner{
        grid-template-columns: 1fr;
    }
    .about .about-inner img{
        width: 70%;
        margin: auto;
    }
    .about .about-inner .about-text .contacts {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1rem;
    }
    .about{
        padding: 50px;
    }

    .dream{
        .img1{
            display: none;
        }
        & img{
            width: 90%;
        }
    }
}
@media screen and (max-width: 841px) {
    .dream p{
        font-size: 70px;
    }
}