.works{
    color: $white;
    & .work-title{
        font-family: HansonBold;
        font-size: 120px;
        text-align: center;
    }
    & .work-images{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem;
       margin: 50px auto 150px auto;
        & img{
            width: 100%;
            border-radius: 20px;
        }
    }
}